[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CatPredi"]
	path = CatPredi
	url = https://github.com/cran/CatPredi
	shallow = true
	registered = true
